#heimScorerAnzeige {
    width: 110px;
    height: 110px;
    color: white;
    background-color: red;
    text-align: center;
    vertical-align: middle;
    font-size: 55px;
    border-radius: 6px;
    line-height: 110px;
}
#gastScorerAnzeige {
    width: 110px;
    height: 110px;
    color: white;
    background-color: blue;
    text-align: center;
    vertical-align: middle;
    font-size: 55px;
    border-radius: 6px;
    line-height: 110px;
}
.aussenLinksAnzeige {
    width: 200px;
    text-align: right;
    font-size: 25px;
    align: right;
}
.aussenRechtsAnzeige {
    width: 200px;
    text-align: left;
    font-size: 25px;
    align: left;
}
.panelHeadingAnzeige {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}

.panelBodyAnzeige {
    font-size: 28px;
    text-align: left;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #000000;
    border-radius: 10px;
}
.hideText{
	visibility: hidden;
}
#settingAnzeigeBtn{
	  position: absolute;
	  top: 5px;
      left: 5px;
}
.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}
.anzeigeTable{
	width: 98%;
	height:100%;
}

.scorerHeimTable{
	font-weight: bold;
	color: red;
	text-align: center;
}
.scorerGastTable{
	font-weight: bold;
	color: blue;
	text-align: center;
}
#panelAnzeigeGesamt{
	padding: 0px;
}